[submodule "submodules/online-pointing-utils"]
	path = submodules/online-pointing-utils
	url = https://github.com/dune-sn-online-pointing/online-pointing-utils.git
[submodule "submodules/ml-pointing-tools"]
	path = submodules/ml-pointing-tools
	url = https://github.com/dune-sn-online-pointing/ml-pointing-tools.git
